#welcome
    .row.text-center.justify-content-center
        h3 Contact
    .row.justify-content-center.text-center
        b-form.text-center
            b-input-group(class="mb-2")
                b-input-group-prepend(is-text)
                    b-icon(icon="envelope")
                b-form-input(type="text" placeholder="E-mail" v-model="mail")
            b-input-group(class="mb-2")
                b-input-group-prepend(is-text)
                    b-icon(icon="paragraph")
                b-form-input(type="text" placeholder="Objet du message" v-model="objet")
            b-input-group(class="mb-2")
                b-input-group-prepend(is-text)
                    b-icon(icon="text-paragraph")
                b-form-textarea(type="text" placeholder="Votre message" v-model="message")
            b-button(variant="secondary" pill) Envoyer