/*.container{
    border:50px solid black;
}*/




.container-fluid{
   // margin: 0px;
   // width: 100%;
   // min-height: 1000px;
    // background-color: #7aacef;
}

.btn{
    width: 130px;
}

#button{

   
    padding-top: 50px;
    
    width: 450px;
}

h1{

    text-align: center;

}

#text{
    font-size: 0.8em;
}

p{
    color: black;
}




#redborder{
    border: 5px solid #f0f6fb;
    
    margin-top: 100px;
    padding: 20px;
    margin-left: auto;
    height: 400px;
    margin-right: auto;
    width: 450px;
    border-radius: 5px;
    text-align: justify center;
}

#root {
    background-color: #81d4fa;
    height: 100vh;
}