.container-fluid#root
    //-h1 Bienvenue sur le site 
    #button.row.w-100.justify-content-center
        router-link(to="/")
            .btn.btn-primary Home
        router-link(to="/login" v-show="this.$session.get('username')===undefined").ml-4
            .btn.btn-primary Se connecter
        router-link(to="/sondage" v-show="this.$session.get('username')!==undefined") 
            .btn.btn-primary.ml-4 Sondage    
        router-link(to="/register" v-show="this.$session.get('username')===undefined")
            .btn.btn-primary.ml-4 S'inscrire
        router-link(to="/myaccount" v-show="this.$session.get('username')!==undefined") 
            .btn.btn-primary.ml-4 Gerer le compte
        b-button(variant="primary" v-show="this.$session.get('username') !==undefined" @click="logout").ml-4 Se deconnecter   
        router-link(to="/contact")
            .btn.btn-primary.ml-4 Contact
    .row.w-100  
        router-view.justify-content-center.text-center.mt-5
 

        





//- .container
//-     .logo
//-     i.fas.fa-user
//-     .row
//-         b-col
//-         b-col
//-             p Inscription
//-             b-form(@submit="register")
//-                 b-input(type= "email"  placeholder="Adresse Mail" v-model="mail") 
//-                 b-input(placeholder="Pseudo" v-model="pseudo")
//-                 b-input(type= "password"  placeholder="Mot de passe" v-model="password")
//-                 b-button(type="submit") S'inscrire
//-         b-col    


    //- div
    //- b-form(@submit = "onLogin" @reset="onReset" v-if="show")
    //-     b-form-group(id="Mail" label="Adresse E-mail:" label-for="EmailInput")
    //-         b-form-input(id="EmailInput" v-model="form.email" type="email" required placeholder="Entrez votre adresse E-mail")
    //-     b-form-group(id="Password" label="Mot de passe" label-for="PasswordInput")
    //-         b-form-input(type="password" v-model="form.password" id="PasswordInput" required placeholder="Entrer votre mot de passe")
    //-     b-button(type="submit" variant="pill") Se connecter
    //-     b-button(type="reset" variant="danger") Reset affichage
