.div
    h1 Gerer le compte


    br
    b-col
    b-col
        p Veuillez entrez votre nouveau mail pour le changer
        b-form(@submit="changemail")
            b-input(type= "email" placeholder="Mail" v-model="Mail")
            b-button(type="submit") Changer l'email
    b-col  

    br
    b-col
    b-col
        p Veuillez entrez un nouveau mot de passe pour le changer
        b-form(@submit="changepassword")
            b-input(type= "password"  placeholder="Mot de passe" v-model="password")
            b-button(type="submit") Changer le mot de passe
    b-col  

         b-button(@click="deleteuser") Supprimer le compte