.container-fluid
    .logo
    i.fas.fa-user
    .row
        b-col
        b-col
            p Créer un sondage
            b-form(@submit="creersondage")
                b-input(placeholder="Participant 1 " v-model="arg1")
                b-input(placeholder="Participant 2 " v-model="arg2")
                b-input(placeholder="Localisation " v-model="location")
                b-input(placeholder="Date " v-model="date")
                b-button(type="submit") Créer le sondage
        b-col    
    .row.justify-content-center
        b-card(v-for="survey in sondagelist").mt-3.ml-3
            h1 Sondage numéro  {{survey.ID }}
            b-button(@click="vote(survey.ID,1)") {{survey.ARG1 }}  
            |  contre 
            b-button(@click="vote(survey.ID,2)") {{survey.ARG2 }}
            p vote1: {{survey.Vote1}}            {{survey.Vote2}}
            p lieu : {{survey.LOCATION}} date : {{survey.DATE }}
            b-button(@click="deletesondage(survey.ID)") Supprimer le sondage





