#welcome{
    
    margin-top: 100px;
    padding: 20px;
    margin-left: auto;
    height: 400px;
    margin-right: auto;
    width: 450px;
    background-color: #f0f6fb;
    border-radius: 5px;
}

h2{
    font-size: x-large;
}

li{
    font-size: small;
}