.container
    .row
        .col.text-center.pl-4
            h3 Bienvenue sur notre Site  
    b-row.justify-content-center
        b-col
        b-col
            //b-icon-paragraph
            p#text On a utilisé tel et tel technologie pour le site. 
            ul.text-left
                li Sur ce site vous pourrrez créer des sondages
                li Vous pourrez également faire des prises de rendez vous.
                li Créateur : Alexandre Boutrig & Angelo Lebbolo 
        b-col
        
