

form{
    padding: 10px;
    
}

input{
    width: 100%;
    background-color:#f0f6fb;
    margin-bottom: 10px;
    border-left:  #f0f6fb;
    border-top:  #f0f6fb;
    border-right: #f0f6fb;
    border-bottom:solid 1px  #7aacef;
    box-shadow: #f0f6fb;
}

.form-control{
    padding: 0!important;


}
