.container
    .row.w-100.justify-content-center
        .col
        .col.justify-content-center
            h3 Connexion
            b-form(@submit="login").justify-content-center.text-center
                b-input-group(class="mb-2")
                    b-input-group-prepend(is-text)
                        b-icon(icon="person-fill")
                    b-form-input(type="text" placeholder="Pseudo" v-model="pseudo")
                b-input-group(class="mb-2")
                    b-input-group-prepend(is-text)
                        b-icon(icon="lock")
                    b-form-input(type="password" placeholder="Password" v-model="password")
                b-button(type="submit") Se connecter
        .col 