.container
    .logo
    i.fas.fa-user
    .row
        b-col
        b-col
            h3 Inscription
            b-form(@submit="register")
                b-input-group(class="mb-2")
                    b-input-group-prepend(is-text)
                        b-icon(icon="envelope")
                    b-form-input(type="text" placeholder="E-mail" v-model="mail")
                b-input-group(class="mb-2")
                    b-input-group-prepend(is-text)
                        b-icon(icon="person-fill")
                    b-form-input(type="text" placeholder="Pseudo" v-model="pseudo")
                b-input-group(class="mb-2")
                    b-input-group-prepend(is-text)
                        b-icon(icon="lock")
                    b-form-input(type="text" placeholder="Mot de passe" v-model="password")
                b-button(type="submit" variant="secondary") S'inscrire
        b-col    


